.container {
    width:auto;
    height:auto;
    border-style:solid;
    font-size:20px;
}

body{
    background-color: rgba(0, 0, 0, 0.95);
}

header {
    text-align:center;
    border-bottom:solid;
    color:rgb(168, 121, 66);
}

.main {
    display:flex;
}

.sidebar {
    width: 30%;
    float:left;
    background-color:rgb(168, 121, 66);
}

.sidebar a {
    margin: 30px ;
}

.content {
    border-left:solid;
    float:left;
    color:black;
    background-color: white;
}

.content h1 {
    text-align: center;
    color: rgb(168, 121, 66);
}

.content h6 {
    text-align: center;
    font-weight: lighter;
}

img {
    width: 150px;
    height: 150px;
    padding: 25px;
}

.content-item {
    display:flex;
    flex-direction: row;
}

span {
    flex-direction: row;
    justify-content:space-around;
    font-size: 20px;
    padding: 30px;
    margin: 30px;
}
  

.content p,ul {
    padding: 30px;
}

.content p {
    text-align: center;
    font-weight: bold;
}

footer {
    text-align:center;
    border-top:solid;
    color:rgb(168, 121, 66);    
}
